	<div class="row clearfix">
		<div class="col-md-12 column" align="middle">
			<%= image_tag "kulinarisk_small.png" %>
			<h2>
				<%= @meeting.name %>
			</h2>
			<p>
				Møtedato: <%= @meeting.meet_date.strftime("%d.%m.%Y") %>
			</p>
			<h3>Meny</h3>
			<p>
				<%= render partial: 'meal', collection: @meeting.meals.order('sort_order ASC') %>
			</p>
		</div>
        <%= button_to "Legg til rett", new_meal_path, :id => "new-meal-btn",
                      :class => "btn btn-large btn-primary", :method => :get %>
	</div>
