	<div class="row clearfix">
		<div class="col-md-12 column" align="middle">
			<%= image_tag "kulinarisk_small.png" %>
			<h2>
				<%= @meeting.name %>
			</h2>
			<p>
				Møtedato: <%= @meeting.meet_date %>
			</p>
			<h3>Meny</h3>
			<p>
				<%= render partial: 'meal', collection: @meeting.meals.order('sort_order ASC') %>
			</p>
		</div>
		<%= link_to 'Legg til rett', new_meal_path %>
	</div>
