<p>
  <strong>Title:</strong>
  <%= showcontent.title %>
</p>

<p>
  <strong>Ingress:</strong>
  <%= showcontent.ingress %>
</p>

<p>
  <strong>Body:</strong>
  <%= showcontent.body %>
</p>

<p>
  <strong>Prepare time:</strong>
  <%= showcontent.prepare_hours %>:<%= showcontent.prepare_minutes %>
</p>

<p>
  <strong>Cooking time:</strong>
  <%= showcontent.cooking_hours %>:<%= showcontent.cooking_minutes %>
</p>

<p>
  <strong>Servings:</strong>
  <%= showcontent.servings %>
</p>