<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <% if @recipe.category %>
  <%= @recipe.category.name %>
  <% end %>
</p>

<p>
  <strong>Type:</strong>
  <% if @recipe.type %>
  <%= @recipe.type.name %>
  <% end %>
</p>

<p>
  <strong>Commodity:</strong>
  <% if @recipe.commodity %>
  <%= @recipe.commodity.name  %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Ingress:</strong>
  <%= @recipe.ingress %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recipe.body.html_safe %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Ingredienser:</strong>
  <% @recipe.re_ins.each do |rein| %><li>  <%= rein.amount %> <%=rein.unit%> <%= rein.ingredient.name %></li>
<% end %>
</p>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> |
<%= link_to 'New', new_recipe_path %>
