<ol class="breadcrumb">
    <li><a href="/">Hjem</a></li>
    <li><%= link_to @recipe.meals[0].meeting.name, @recipe.meals[0].meeting%></li>
    <%
        if @recipe.meals.count > 1

    %>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=@recipe.meals[0].title%>
            <span class="caret"></span></a><ul class="dropdown-menu">
            <%
               @recipe.meals.each do |m|
            %>
            <li><%= link_to m.title, m %></li>
            <% end %>
            </ul>
        </li>
    <% else %>
        <li><%= link_to @recipe.meals[0].title, @recipe.meals[0] %></li>
    <% end %>
    <li><%= @recipe.title %></li>
</ol>
    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-4 column"><h1><%= @recipe.title %></h1></div>
        <div class="col-md-2 column">
            <p><%= link_to 'Endre', edit_recipe_path(@recipe), :class => "btn btn-default btn-xs", :method => :get %></p>
            <p><%= link_to 'Legg til i rett', new_me_re_path(:recipe_id => @recipe.id, :recipe_name => @recipe.title), :class => "btn btn-default btn-xs", :method => :get %></p>
        </div>
    </div>
	<div class="row clearfix">
		<div class="col-md-3 col-md-offset-1 column">
			<h5>Ingredienser</h5>
  <ul>	  
  <% @recipe.re_ins.each do |rein| %>
  <%
  	if rein.amount && rein.amount > 1
		ingredient_amount = number_with_precision(rein.amount, :precision => 0)
	else
		ingredient_amount = number_with_precision(rein.amount, :precision => 1)
	end
  
	if rein.amount && rein.amount > 1 && rein.ingredient.plural
		ingredient_name = rein.ingredient.plural
	else
		ingredient_name = rein.ingredient.name
	end
  %>
  <%
	if rein.ingredient.name.include? "--"
  %>
<strong><%= ingredient_name.gsub! "--", "" %></strong>
  <%
	else
  %>
	<li><%= ingredient_amount %> <%=rein.unit%> <%= ingredient_name %></li>
  <%
	end
  %>
  
<% end %>
</ul><br/>
			</ul>
		</div>
		<div class="col-md-6 column">
				<%= image_tag @recipe.img_1, width: '100%' %>
				<p><%= @recipe.ingress %></p>

				<p>
					<%= @recipe.body.html_safe %>
	
				</p>

		</div>
	</div>
