<p id="notice"><%= notice %></p>

	<div class="row clearfix">
		<div class="col-md-3 column">
			<h3>Ingredienser</h3>
  <ul>	  
  <% @recipe.re_ins.each do |rein| %>
  <%
  	if rein.amount && rein.amount > 1
		ingredient_amount = number_with_precision(rein.amount, :precision => 0)
	else
		ingredient_amount = number_with_precision(rein.amount, :precision => 1)
	end
  
	if rein.amount && rein.amount > 1 && rein.ingredient.plural
		ingredient_name = rein.ingredient.plural
	else
		ingredient_name = rein.ingredient.name
	end
  %>
  <%
	if rein.ingredient.name.include? "--"
  %>
<strong><%= ingredient_name.gsub! "--", "" %></strong>
  <%
	else
  %>
	<li><%= ingredient_amount %> <%=rein.unit%> <%= ingredient_name %></li>
  <%
	end
  %>
  
<% end %>
</ul><br/>
			</ul>
		</div>
		<div class="col-md-6 column">
			<p align="middle"><%= image_tag "kulinarisk_small.png" %></p>
				<h2><%= @recipe.title %></h2>
				<p><%= @recipe.ingress %></p>

				<p>
					<%= @recipe.body.html_safe %>
	
				</p>
				Denne oppskriften er brukt i retten(e): <br/>
				<%
				@recipe.meals.each do |m|
				%>
				<li><%= link_to m.title, m %></li>
				<% end %>
					<br/>
					<%= link_to 'Legg til i oppskrift', new_me_re_path(:recipe_id => @recipe.id, :recipe_name => @recipe.title) %><%= link_to 'Endre', edit_recipe_path(@recipe) %>
				</p>
		</div>
	</div>
