<p id="notice"><%= notice %></p>

	<div class="row clearfix">
		<div class="col-md-3 column">
			<h3>Ingredienser</h3>
  <ul>
  <% @recipe.re_ins.each do |rein| %><li><%= rein.amount %> <%=rein.unit%> <%= rein.ingredient.name %></li>
<% end %>
</ul><br/>
			</ul>
		</div>
		<div class="col-md-6 column">
			<p>
				<h2><%= @recipe.title %></h2>
				<%= image_tag "kulinarisk_small.png" %>
				<p><%= @recipe.ingress %></p>

				<p>
					<%= @recipe.body.html_safe %>
	
				</p>
				<%= link_to 'Se hele menyen ' + @recipe.meal.meet_date.to_s, @recipe.meal %>
			</p>
		</div>
	</div>
