<%= form_for(@me_re) do |f| %>
  <% if @me_re.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@me_re.errors.count, "error") %> prohibited this me_re from being saved:</h2>

      <ul>
      <% @me_re.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br/>
    <%= f.number_field :recipe_id, hidden:true %>
 Legg <%= @recipe_name %> til i rett:
  <div class="field">
    <%= f.collection_select :meal_id, Meal.order('title ASC').all, :id, :title, {:class => 'selectpicker', :include_blank => '-- Velg rett --'} %>
  </div>
  <div class="actions">
    <%= f.submit "Legg til" %>
  </div>
<% end %>
