<h1>Listing me_res</h1>

<table>
  <thead>
    <tr>
      <th>Oppskrift</th>
      <th>Rett</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @me_res.each do |me_re| %>
      <tr>
        <td><%= me_re.recipe_id %></td>
        <td><%= me_re.meal_id %></td>
        <td><%= link_to 'Show | ', me_re %></td>
        <td><%= link_to 'Edit | ', edit_me_re_path(me_re) %></td>
        <td><%= link_to 'Destroy', me_re, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Me re', new_me_re_path %>
