<%= form_for(@meal) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label :meal %><br>
	  <%= f.collection_select :meeting_id, Meeting.order('meet_date ASC').all, :id, :name, {:class => 'selectpicker', :include_blank => '-- Velg møte --'} %>

  <div class="field">
    <%= f.label :title, 'Tittel' %><br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
	  <%= f.label :meet_date, 'Møtedato' %><br/>
	  <%= f.date_field :meet_date %>
	</div>
	  <br/>
  <div class="actions">
    <%= f.submit "Registrer" %>
  </div>
<% end %>
