	<div class="row clearfix">
		<div class="col-md-3 column">
			<h3>Ingredienser</h3>
			<ul>
				<%= render partial: 'recipe_ingredient', collection: @meal.recipes %>
			</ul>
		</div>
		<div class="col-md-6 column">
			<h2>
				<%= @meal.title %>
			</h2>
						<%= image_tag "kulinarisk_small.png" %>
			<p>
				Møtedato: <%= @meal.meet_date %>
			</p>
			<p>
				<%= render partial: 'recipe', collection: @meal.recipes %>
			</p>
		</div>
	</div>
