<ol class="breadcrumb">
    <li><a href="/">Hjem</a></li>
    <li><%= link_to @meal.meeting.name, @meal.meeting%></li>
    <li><%= @meal.title %></li>
</ol>
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h3>Ingredienser</h3>
			<ul>
				<%= render partial: 'recipe_ingredient', collection: @meal.recipes.order('me_res.recipe_sort_order ASC') %>
			</ul>
		</div>
		<div class="col-md-6 column">
			<h2>
				<%= @meal.title %>
			</h2>
				<%= image_tag @meal.img_1, width: '100%' %><br/>
			<p><%= @meal.ingress %></p>
			<p>
				<%= render partial: 'recipe', collection: @meal.recipes.order('me_res.recipe_sort_order ASC') %>
			</p>


		</div>
        <div class="col-md-3 column">
            <p><%= button_to 'Endre', edit_meal_path, :class => "btn btn-default btn-xs", :method => :get %></p>
            <p><%= button_to 'Legg til oppskrift', new_recipe_path, :class => "btn btn-default btn-xs", :method => :get %></p>
        </div>

	</div>
