
    <div class="color-container">
        <ol class="breadcrumb">
            <li><a href="/">Hjem</a></li>
            <li><%= link_to @meal.meeting.name, @meal.meeting%></li>
            <li><%= @meal.title %></li>
        </ol>
    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-4 column"><h1><%= @meal.title %></h1></div>
        <div class="col-md-2 column">
            <p><%= button_to 'Endre', edit_meal_path, :class => "btn btn-default btn-xs", :method => :get %></p>
            <p><%= button_to 'Legg til oppskrift', new_recipe_path, :class => "btn btn-default btn-xs", :method => :get %></p>
        </div>
    </div>
	<div class="row clearfix">
		<div class="col-md-3 column col-md-offset-1">
			<h5>Ingredienser</h5>
			<ul>
				<%= render partial: 'recipe_ingredient', collection: @meal.recipes.order('me_res.recipe_sort_order ASC') %>
			</ul>
		</div>
		<div class="col-md-6 column">
				<%= image_tag @meal.img_1, width: '100%' %><br/>
			<p><%= @meal.ingress %></p>
			<p>
				<%= render partial: 'recipe', collection: @meal.recipes.order('me_res.recipe_sort_order ASC') %>
			</p>
		</div>
    </div>
	</div>
