<script type="text/javascript">
    jQuery(function($) {
        $("#submit_ingredient_btn").submitIngredient();
    })

</script>


<%= form_for(@re_in) do |f| %>
  <% if @re_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@re_in.errors.count, "error") %> prohibited this re_in from being saved:</h2>

      <ul>
      <% @re_in.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="rein_ingredients">
	<% @recipe.re_ins.each do |rein| %><li>  <%= rein.amount %> <%=rein.unit%> <%= rein.ingredient.name %> <%= link_to "r", rein, method: :delete, data: { confirm: "Er du sikker?" } %> <%= image_tag "trash.png" %></li>
	<% end %>
</div>
<br/>
  <%= f.number_field :recipe_id, value:@recipe.id, hidden:true %>
	<div class="field">
		<%= f.label :amount %>
		<%= f.number_field :amount %>
	</div>
	<div class="field">
		<%= f.label :unit, :class => "col-md-2-column" %>
		<%= f.text_field :unit, :class => "col-md-2-column" %>
  </div>
	<div class="field">
		<%= f.label :ingredient_id %>
		<%= f.text_field :ingredient_name %>
	</div>

	<%= f.button "legg til", name: "submit_ingredient_btn", id: "submit_ingredient_btn", type: "button", class: "btn btn-large btn-primary" %>
<% end %>